parameters:
	level: 8
	checkGenericClassInNonGenericObjectType: false
	reportUnmatchedIgnoredErrors: false
	paths:
		- src
	ignoreErrors:
		- '#has unknown class OpenSSLAsymmetricKey as its type#'
		- '#(.*)OpenSSLAsymmetricKey(.*)null(.*) does not accept resource#'
		- '#openssl_free_key expects resource(.*) OpenSSLAsymmetricKey given#'
		- '#openssl_sign expects resource(.*)string(.*) OpenSSLAsymmetricKey given#'
		- '#function openssl_verify expects resource\|string\, OpenSSLAsymmetricKey given#'
		- '#function openssl_pkey_get_details expects resource\, OpenSSLAsymmetricKey given#'
		- '#function openssl_pkey_get_details expects OpenSSLAsymmetricKey\, OpenSSLAsymmetricKey\|resource given#'
		- '#function openssl_sign expects array\|OpenSSLAsymmetricKey\|OpenSSLCertificate\|string\, OpenSSLAsymmetricKey\|resource given#'
		- '#function openssl_free_key expects OpenSSLAsymmetricKey\, OpenSSLAsymmetricKey\|resource given#'
		- '#function openssl_pkey_get_details expects resource\, OpenSSLAsymmetricKey\|resource given#'
		- '#function openssl_sign expects resource\|string\, OpenSSLAsymmetricKey\|resource given#'
		- '#function openssl_free_key expects resource\, OpenSSLAsymmetricKey\|resource given#'
		- '#function openssl_verify expects array\|OpenSSLAsymmetricKey\|OpenSSLCertificate\|string\, OpenSSLAsymmetricKey\|resource given#'
		- '#function openssl_verify expects resource\|string\, OpenSSLAsymmetricKey\|resource given#'